<nav
  class="w-full max-w-7xl mx-auto px-8 py-4 flex items-center justify-between"
>
  <div id="logo" class="text-2xl lg:text-4xl font-bold text-gray-800">
    HeyParro!
  </div>
  <a
    id="book-call-button"
    href="mailto:hello@heyparro.com"
    class="px-6 py-4 bg-[#ff4ad7] text-white text-lg rounded-full hover:bg-[#ff4ad7]/80 transition-colors"
  >
    Book a Call
  </a>
</nav>
